body {
    background-color: #d6cfc7;
    font-family: Arial, sans-serif;

}

h1 {
    background-color: #2196F3;
    color: white;
    text-align: center;
}

#contenido {
    margin: 0 auto;
    /* centrando la caja */
    width: 80%;
}

p {
    font-size: 18px;
}

.subtexto {
    font-family: Verdana, Genova, sans-serif;
}

.texto {
    text-align: justify;

    font-family: Verdana, Genova, sans-serif;
}


#panel {}